$feature-color: #98cb2b;

$bg-color: white;
$body-color: grey;

.logo {height:45px;}

body {
    background-color        : $bg-color;
    color                   : $body-color;
    font-family             : 'Roboto', sans-serif;
    margin-top              : 90px;
}

header .navbar {
    padding                 : 20px !important;
}

.navbar-light .navbar-nav .nav-link {
    color                   : #1c393d;
}

.navbar-nav .nav-link {
    line-height             : 1em;
    padding                 : 0.5rem 1rem !important;
}


.navbar-nav .nav-item {
    margin                  : 0 5px;
}

.navbar {
    // Floating Menu Shadow
    -webkit-box-shadow      : 0px 4px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow         : 0px 4px 5px 0px rgba(0,0,0,0.2);
    box-shadow              : 0px 4px 5px 0px rgba(0,0,0,0.2);
}


.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    background-color        : $feature-color;
    color                   : white;
    border-radius           : 20px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    background-color        : $feature-color;
    color                   : white;
    border-radius           : 20px;
}

.bg-light {
    background              : white !important;
}


.stripe {
    background-color        : #efefee;
    min-height              : 300px;
    padding                 : 100px 0;
}

h1 {
    font-size               : 50px;
    color                   : #1c393d;
    margin-bottom           : 60px;
}

h2 {
    font-size               : 20px;
    color                   : $feature-color;
}

.card {
    box-shadow              : 0 0 32px rgba(0,0,0,0.14);
    min-height              : 400px;
}